<mat-card>Delete transaction?</mat-card>
<br>
<mat-divider></mat-divider>
<mat-label>ID: </mat-label>
<mat-label class="right-text">{{transaction.transactionId}}</mat-label>
<mat-divider></mat-divider>
<mat-label>AMOUNT:</mat-label>
<mat-label class="right-text">{{transaction.currency.currency}}{{this.transaction.amount}}</mat-label>
<mat-divider></mat-divider>
<mat-label>CATEGORY:</mat-label>
<mat-label class="right-text">{{transaction.category.categoryName}} | {{transaction.category.categorytype.categorytype}}
</mat-label>
<mat-divider></mat-divider>
<mat-label>DATE:</mat-label>
<mat-label class="right-text">{{transaction.date}}</mat-label>
<mat-divider></mat-divider>
<br>
<button mat-raised-button color="primary" (click)="deleteData()">OK</button>
<button mat-raised-button color="accent" (click)="closeDialog()">CANCEL</button>