<div class="example-container">

    <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
            <mat-icon *ngIf="drawer.opened">close</mat-icon>
        </button>
        <a mat-button routerLink="home"><span>Cash Flow</span></a>
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/profile">
                <mat-icon>person</mat-icon>
                <span>my profile</span>
            </button>
            <button mat-menu-item routerLink="/login">
                <mat-icon>logout</mat-icon>
                <span>log out</span>
            </button>
        </mat-menu>
    </mat-toolbar>

    <mat-drawer-container class="example-sidenav-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <img src="assets/cf-icon.png" class="logo">
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="drawer.toggle()" routerLink="/categories">
                <mat-icon>category</mat-icon>
                <span>categories</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="drawer.toggle()" routerLink="/transactions">
                <mat-icon>receipt_long</mat-icon>
                <span>transactions</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="drawer.toggle()" routerLink="/transactionReport">
                <mat-icon>show_chart</mat-icon>
                <span>reports</span>
            </button>
            <mat-divider></mat-divider>
        </mat-drawer>

        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>

</div>